
*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}

.regiimg{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.regiheading{
    font-family: 'Nunito', sans-serif;
    font-size: 18.4px;
    font-weight: 700;
   color: #11175D;
}
.regicontainer{
 width: 50%;
 margin-left: auto;
 margin-top: 50%;
 transform: translateY(-50%);
}
.regipara{
    font-family: 'Nunito', sans-serif;
    font-size: 13.64px;
    font-weight: 400;
    color: rgba(0, 0, 0,.6);
    margin-top: 13px;
}
.textinput{
    margin-top: 30px;
}
.textinput .MuiTextField-root{
    width: 80%;
}


.buttonregi .MuiButton-root {
    width: 80%;
    margin-top: 30px;
    background-color: #5F35F5;
    border-radius: 25px;
    padding: 13px 0;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 600;
    
}

.loading .MuiLoadingButton-root{
    width: 80%;
    margin-top: 30px;
    border-radius: 25px;
    padding: 13px 0;
    font-size: 12px;
    font-weight: 600;
}

.logimg{
    width: 40%;
    margin-top: 20px;
    cursor: pointer;
}
.loginimg{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.buttonlog .MuiButton-root{
    width: 80%;
    margin-top: 30px; 
    border-radius: 10px;
    padding: 13px 0;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.MuiAlert-root{
    width: 270px;
    margin-top: 10px;
    font-size: .86rem;
}
.MuiAlert-message{
    font-size: .86rem;
}
.eye{
    position: absolute;
    top: 274px;
    left: 270px;
}
.eyelogin{
    position: absolute;
    top: 227px;
    left: 270px;
}

.forgotPassword{
    background: #5F35F5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword .box{
    background: #fff;
   padding: 40px;
   border-radius: 10px;
}

.forgotPassword .box .MuiFormControl-root{
    margin-top: 20px;
}

.navbar{
    width: 100%;
    height: 100vh;
}
.navcontainer{
    width: 100px;
    height:100vh;
    background: #5F35F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navcontainer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



.icon{
    color: #fff;
    font-size: 30px;
    margin: 40px 0;
    display: inline-block;


}
.active{
    color: #5F35F5;
    font-size: 30px;
    margin: 40px 0;
    display: inline-block;
    position: relative;
    z-index: 2;


}
.active::after{
    background: #fff;
    position: absolute;
    border-radius: 10px 0 0 10px;
    top: -7px;
    left: -8px;
    content: "";
    width: 243%;
    height: 120%;
    z-index: -1;

}
.active::before{
    background: #5F35F5;
    position: absolute;
    border-radius: 10px 0 0 10px;
    top: -7px;
    right: -35px;
    content: "";
    width: 5px;
    height: 120%;

}
.iconlog{
    color: #fff;
    font-size: 30px;
     margin-top: 100px;
     display: inline-block;

}
.box{
    padding: 15px;
    margin-bottom: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.25);

}
.box .title{
    position: sticky;
    top: -15px;
    left: 0;
    background: #fff;
    padding: 20px 0;
}
.title{
    display: flex;
    justify-content: space-between;
}

.list{
    display: flex;
    border-bottom: 1px solid #00000042;
    padding-bottom: 15px;
    column-gap: 10px;
    align-items: center;
    margin: 30px 0;
    justify-content: space-between;
}

.list:last-child{
    border-bottom: 0;
}
.list img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.button .MuiButton-root{
    background: #5F35F5;
    color: #fff;
    background-color: #5F35F5 !important;
}

